@charset "UTF-8";
:root{
    --body-bg-color: rgba(204, 202, 202, 0.8);
    --bg-transparent: rgba(0, 0, 0, 0);
    --container-border: rgb(205, 204, 204);
    --edit-btn-color: rgba(90, 50, 155, 0.9);
    --delete-btn-color: rgba(199, 99, 99, 0.9);
}
a,
p,
h3,
h4,
h5,
button,
label,
input{
    font-family: 'M PLUS 1p', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--body-bg-color);
}

/* ログイン画面 */
.container-wrapper{
    max-width: 400px;
    border: 1px var(--container-border) solid;
    margin: auto;
}
.container-wrapper a{
    font-weight: bold;
    color: rgb(139, 194, 239) !important;
    text-align: center;
}
.container-wrapper .container{
    background-color: white;
}
.btn-wrapper{
    text-align: center;
}
.btn-wrapper button{
    background-color: rgb(139, 194, 239);
    display: inline;
    width: 100px;
    transition: all 0.5s;
}
.btn-wrapper button:hover{
    background-color: rgb(81, 169, 241);
    color: white;
}
.label-wrapper{
    text-align: center;
}
.label-wrapper label{
    font-size: 12px;
    color: rgb(172, 173, 175);
}
.checkbox-wrapper{
    text-align: center;
}
.checkbox-label-wrapper{
    font-size: 12px;
    color: rgb(134, 135, 136);
}

/* リスト */
.table-stripe tr:nth-of-type(2n) {
    background-color: rgba(0,0,0,.05);
}
.list-container{
    background-color: white;
    margin: 0 20px 20px 20px;
}
.btn-item{
    background-color: var(--bg-transparent);
    border: none;
    z-index: 2;
    transition: all 0.5s;
}
.edit-btn-color{
    color: var(--edit-btn-color);
}
.delete-btn-color{
    color: var(--delete-btn-color);
}

/* 新規登録 */
.add-container{
    min-height: 440px;
}
.add-container p{
    font-size: 12px;
    color: rgb(134, 135, 136);
}
.add-container-wrapper{
    max-width: 400px;
    border: 1px var(--container-border) solid;
    margin: auto;
}
.add-container-wrapper a{
    font-weight: bold;
    color: #dc3545 !important;
    text-align: center;
}
.add-container-wrapper .detail{
    color: #040404 !important;
}
.add-container-wrapper .container{
    background-color: white;
}
.img-fit{
    width: 140px;
    height: 140px;
    object-fit: cover;
}
.file-label {
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #697db8;
    cursor: pointer;
    transition: all 0.5s;
}
.file-label:hover{
    background-color: #4866be;
}
input[type="file"] {
    display: none;
}

/* 編集 */
.edit-container-wrapper{
    max-width: 400px;
    border: 1px var(--container-border) solid;
    margin: auto;
}
.edit-container-wrapper a{
    font-weight: bold;
    color: #198754 !important;
    text-align: center;
}
.edit-container-wrapper .detail{
    color: #040404 !important;
}
.edit-container-wrapper .container{
    background-color: white;
}

/* モーダル */
.modal-label-wrapper{
    height: 14px;
    font-size: 12px;
    color: rgb(87, 87, 88);
}
.modal-input{
    font-size: 16px;
}
.modal-input:focus{
    box-shadow: none !important;
}
.modal-btn-toggle{
    font-size: 12px;
    background-color: var(--bg-transparent);
    border: none;
}
.modal-btn-toggle:hover{
    border-bottom: 1px rgb(87, 87, 88) dotted;
}

/* アラート */
.error-wrapper{
    height: 70px;
}
.error-wrapper .container{
    background-color: var(--body-bg-color);
    z-index: 3;
}
/* エラー文表示 */
.alert-wrapper{
    animation-name: alert-fade;
    animation-duration: 4s;
}
@keyframes alert-fade{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* 成功文表示 */
.success-wrapper{
    animation-name: success-fade;
    animation-duration: 2s;
}
@keyframes success-fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* パスワードのマスク表示 */
.password-position{
    position: relative;
}
.btn-view-password{
    color: rgb(172, 173, 175);
}
.btn-view-password-position{
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 2;
}
.modal-btn-view-password-position{
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
}

/* ナビゲーションバー */
.form-wrapper{
    max-width: 200px;
}
.nav-input-radius{
    border-radius: 18px 0 0 18px;
}
.nav-btn-radius{
    border-radius: 0 18px 18px 0;
}
.nav-opacity{
    max-width: 150px;
    border-radius: 18px;
    transition: all 0.5s;
}
.nav-opacity:hover{
    background-color: rgba(255, 255, 255,.5);
}