<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'img/favicon.png')}}" />
    <title>ユーザー管理システム</title>
</head>
<body>
    <!-- 使いまわしアイコンを定義しておく -->
    {% include "svg.html" %}

    <!-- ナビゲーションバー -->
    {% include "nav.html" %}

    <!-- アラート -->
    <div class="error-wrapper mt-2">
        <!-- 更新時エラー文 -->
        {% if session['errors'] %}
            <div class="container p-0 mt-0 alert-wrapper">
                <div class="alert alert-danger d-flex align-items-center alert-warning alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="警告：">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    {% for message in session['errors'] %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
        <!-- 更新時成功文 -->
        {% if session['success'] %}
            <div class="container p-0 mt-0 success-wrapper">
                <div class="alert alert-info d-flex align-items-center alert-dismissible fade show">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                    <use xlink:href="#check"/></svg>
                    {% for message in session['success'] %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="pt-0">
        <div class="rounded-3 shadow mb-4 edit-container-wrapper">
            <!-- フォーム -->
            <form action="{{url_for('edit.edit_result')}}" method="POST" enctype="multipart/form-data">
                <div class="container p-3 add-container">
                    <!-- タブ型ナビゲーション -->
                    <div class="nav nav-tabs" id="tab-menus">
                        <!-- タブ01 -->
                        <a href="#panel-menu01" id="tab-menu01" class="nav-item nav-link active" data-bs-toggle="tab">必須項目</a>
                        <!-- タブ02 -->
                        <a href="#panel-menu02" id="tab-menu02" class="nav-item nav-link detail" data-bs-toggle="tab">詳細情報</a>
                    </div>
                    <!-- /タブ型ナビゲーション -->
                    <!-- タブパネル -->
                    <div class="tab-content" id="panel-menus">
                        <!-- パネル01 -->
                        <div class="tab-pane fade show active border border-top-0" id="panel-menu01">
                            <div class="py-3">
                                <div class="container">
                                    <!-- 名前 -->
                                    <div class="row px-5 py-1">
                                        <div class="label-wrapper">
                                            <label for="name" class="col-form-label">
                                                名前を入力してください。
                                            </label>
                                        </div>
                                        <input type="text" name="name"  value="{{ session['user']['name'] }}" class="form-control rounded-0 border-top-0 border-end-0 border-start-0" id="name" required>
                                    </div>
                                    <!-- メールアドレス -->
                                    <div class="row px-5 py-1">
                                        <div class="label-wrapper">
                                            <label for="email" class="col-form-label">
                                                メールアドレスを入力してください。
                                            </label>
                                        </div>
                                        <input type="email" name="mail_address" value="{{ session['user']['mail_address'] }}" class="form-control rounded-0 border-top-0 border-end-0 border-start-0" id="email" required>
                                    </div>
                                    <!-- パスワード -->
                                    <input type="hidden" name="password">
                                    <!-- 社員ID -->
                                    <input type="hidden" name="employee_id" value="{{ session['user']['employee_id'] }}">
                                    <!-- 確認ボタン -->
                                    <div class="row py-3 mb-1">
                                        <div class="text-center">
                                            <button class="btn btn-success text-white" type="submit">更新</button>
                                        </div>
                                    </div>
                                    <p class="mb-1">詳細情報は上のタブをクリックして編集することができます。</p>
                                    <p class="text-center">
                                        <span class="text-danger">※</span>パスワードは、
                                        <button type="button" class="modal-btn-toggle text-danger p-0" data-bs-toggle="modal" data-bs-target="#modal">こちら</button>
                                        から更新できます。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- パネル02 -->
                        <div class="tab-pane fade border border-top-0" id="panel-menu02">
                            <div class="py-3">
                                <div class="container">
                                    <!-- 写真アップロード -->
                                    <div class="row mb-2">
                                        <div class="col-5">
                                            {% if session['user']['image_file_path'] == '/static/uploads/' %}
                                                <img src="{{url_for('static', filename = 'img/noimage.png')}}" alt="社員イメージ画像" id="preview" class="rounded-pill img-fit">
                                            {% else %}
                                                <img src="{{ session['user']['image_file_path'] }}" alt="社員イメージ画像" id="preview" class="rounded-pill img-fit">
                                            {% endif %}
                                            </div>
                                        <div class="col-7 text-center">
                                            <p class="mb-4">写真をアップロードできます</p>
                                            <label class="file-label">
                                                <input type="file" name="file" id="file" class="btn-sm">ファイルを選択
                                            </label>
                                        </div>
                                    </div>
                                    <!-- 所属部署選択 -->
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="mt-2">所属部署を選択してください</p>
                                        </div>
                                        <div class="col-6">
                                            <input type="hidden" value="{{ session['user']['belong_id'] }}" id="user_belong_id">
                                            <select name="belong_id" id="belong_id" class="form-select form-select-sm mb-2">
                                                <option value="0">未定</option>
                                                <option value="1">総務課</option>
                                                <option value="2">BS事業部</option>
                                                <option value="3">CS事業部</option>
                                                <option value="4">営業課</option>
                                                <option value="5">1課</option>
                                                <option value="6">2課</option>
                                                <option value="7">3課</option>
                                                <option value="8">4課</option>
                                                <option value="9">5課</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- 管理者権限用チェックボックス -->
                                    <div class="checkbox-wrapper mb-2">
                                        <div class="form-check form-check-inline">
                                            {% if session['user']['management'] == 'Y' %}
                                                <input type="checkbox" class="form-check-input" name="management" value="Y" id="checkbox" checked>
                                            {% else %}
                                                <input type="checkbox" class="form-check-input" name="management" id="checkbox" value="Y">
                                            {% endif %}
                                            <div class="checkbox-label-wrapper">
                                                <label for="checkbox" class="form-check-label">管理者権限を付与する場合はチェックしてください</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /タブパネル -->
                </div>
            </form>
            <!-- /フォーム -->
        </div>
    </div>
    <!-- パスワード更新用モーダル -->
    <div class="modal fade" id="modal" tabindex="-1">
        <form action="{{url_for('edit.change_password')}}" method="POST">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-light px-3 py-2">
                        <h5 class="modal-title text-success">パスワード変更</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body py-4">
                        <div class="container px-4">
                            <!--  古いパスワード -->
                            <div class="row pe-5">
                                <div class="modal-label-wrapper mb-1">
                                    <label for="old_password">
                                        古いパスワードを入力してください。
                                    </label>
                                </div>
                                <div class="password-position">
                                    <input type="password" name="old_password" class="form-control rounded-0 border-top-0 border-end-0 border-start-0 px-3 py-0 modal-input password" id="old_password" required>
                                    <button type="button" class="text-center btn-item btn-view-password modal-btn-view-password-position">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye text-muted" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <!-- 新しいパスワード -->
                            <div class="row pe-5">
                                <div class="modal-label-wrapper mb-1">
                                    <label for="new_password">
                                        新しいパスワードを入力してください。
                                    </label>
                                </div>
                                <div class="password-position">
                                    <input type="password" name="new_password" class="form-control rounded-0 border-top-0 border-end-0 border-start-0 px-3 py-0 modal-input password" id="new_password" required>
                                    <button type="button" class="text-center btn-item btn-view-password modal-btn-view-password-position">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye text-muted" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <!-- 確認用パスワード -->
                            <div class="row pe-5">
                                <div class="modal-label-wrapper mb-1">
                                    <label for="confirm_password">
                                        確認用パスワードを入力してください。
                                    </label>
                                </div>
                                <div class="password-position">
                                    <input type="password" name="confirm_password" class="form-control rounded-0 border-top-0 border-end-0 border-start-0 px-3 py-0 modal-input password" id="confirm_password" required>
                                    <button type="button" class="text-center btn-item btn-view-password modal-btn-view-password-position">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye text-muted" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <!-- 社員ID -->
                            <input type="hidden" name="employee_id" value="{{ session['user']['employee_id'] }}">
                        </div>
                    </div>
                    <div class="modal-footer px-3 pt-0 pb-1">
                        <button type="button" class="btn btn-secondary px-2 py-1" data-bs-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-success px-2 p-1">更新</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- フッター -->
    {% include "footer.html" %}

    <script src="{{url_for('static', filename = 'js/password_mask.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/preview.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/belong_name_checked.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>