<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{url_for('static', filename = 'img/favicon.png')}}" />
    <title>ユーザー管理システム</title>
</head>

<body>
    <!-- 使いまわしアイコンを定義しておく -->
    {% include "svg.html" %}

    <!-- ナビゲーションバー -->
    {% include "nav.html" %}

    <!-- アラート -->
    {% include "alert.html" %}

    <main>
        <div class="pb-2">
            <div class="list-container px-3 py-2">
                <h4 class="m-1"><a href="{{url_for('list.list')}}" class="text-secondary">社員一覧リスト</a></h4>
                <div class="d-flex">
                    <div class="dropdown mx-1 my-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            部署名
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="1">
                                    <button type="submit" class="dropdown-item">総務課</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="2">
                                    <button type="submit" class="dropdown-item">BS事業部</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="3">
                                    <button type="submit" class="dropdown-item">CS事業部</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="4">
                                    <button type="submit" class="dropdown-item">営業課</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="5">
                                    <button type="submit" class="dropdown-item">システム1課</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="6">
                                    <button type="submit" class="dropdown-item">システム2課</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="7">
                                    <button type="submit" class="dropdown-item">システム3課</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="8">
                                    <button type="submit" class="dropdown-item">システム4課</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="9">
                                    <button type="submit" class="dropdown-item">システム5課</button>
                                </form>
                            </li>
                            <li>
                                <form action="{{url_for('list.list')}}" method="POST">
                                    <input type="hidden" name="belong_id" value="0">
                                    <button type="submit" class="dropdown-item">未定</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    {% if session['management'] == 'Y' %}
                        <div class="ms-1 my-2">
                            <form action="{{ url_for('add.add') }}" method="GET">
                                <input type="submit" class="btn btn-danger text-white" value="新規登録">
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless table-hover">
                        <caption class="text-end"><small><a href="{{url_for('list.list')}}" class="text-muted">社員一覧リスト</a></small></caption>
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-nowrap">社員ID</th>
                                <th scope="col" class="text-nowrap">名前</th>
                                <th scope="col" class="text-nowrap">所属</th>
                                <th scope="col" class="text-nowrap">メールアドレス</th>
                                {% if session['management'] == 'Y' %}
                                    <th scope="col" class="text-nowrap">パスワード</th>
                                {% endif %}
                                <th scope="col" class="text-nowrap text-center">管理者</th>
                                {% if session['management'] == 'Y' %}
                                    <th scope="col" class="text-nowrap text-center">編集</th>
                                    <th scope="col" class="text-nowrap text-center">削除</th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% if session['users'] %}
                            <tbody>
                                {% for user in session['users'] %}
                                    {% if user['management'] == 'Y' %}
                                        <tr class="table-info">
                                            <td class="text-nowrap">{{ user['employee_id'] }}</td>
                                            <td class="text-nowrap">
                                                <div class="d-none d-md-block" style="width: 100px; height: 24px;">{{ user['name'] }}</div>
                                                <div class="d-block d-md-none" style="width: 100px; height: 24px;">
                                                    <button type="button" class="list-modal-btn-toggle text-primary p-0" data-bs-toggle="modal" data-bs-target="#modal-{{ user['employee_id'] }}">
                                                        {{ user['name'] }}
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-nowrap">{{ user['belong_name'] }}</td>
                                            <td class="text-nowrap text-truncate" style="max-width: 100px;">{{ user['mail_address'] }}</td>
                                            {% if session['management'] == 'Y' %}
                                                <td class="text-truncate p-1" style="max-width: 180px; min-width: 160px;">
                                                    <div class="row">
                                                        <div class="col-10 p-0">
                                                            <input type="password" class="form-control rounded-0 border-0 password" value="{{ user['password'] }}" style="background-color: rgb(0, 0, 0, 0); max-width: 150px; min-width: 120px;" readonly>
                                                        </div>
                                                        <div class="col-2 p-0 pt-1">
                                                            <button type="button" class="text-center btn-item btn-view-password list-btn-view-password">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye text-muted" viewBox="0 0 16 16">
                                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                            <td class="text-success text-center align-items-center">
                                                <svg width="16" height="16"><use xlink:href="#check"></use></svg>
                                            </td>
                                            {% if session['management'] == 'Y' %}
                                                <td class="text-center align-items-center">
                                                    <form action="/user/edit/{{user['employee_id']}}" method="POST">
                                                        <button type="submit" class="text-center btn-item edit-btn-color">
                                                            <svg width="16" height="16" class="mb-1"><use xlink:href="#edit"></use></svg>
                                                        </button>
                                                    </form>
                                                </td>
                                                <td>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            <tbody class="table-stripe">
                                {% for user in session['users'] %}
                                    {% if user['management'] != 'Y' %}
                                        <tr class="table-stripe">
                                            <td>{{ user['employee_id'] }}</td>
                                            <td class="text-nowrap">
                                                <div class="d-none d-md-block" style="width: 100px; height: 24px;">{{ user['name'] }}</div>
                                                <div class="d-block d-md-none" style="width: 100px; height: 24px;">
                                                    <button type="button" class="list-modal-btn-toggle text-primary p-0" data-bs-toggle="modal" data-bs-target="#modal-{{ user['employee_id'] }}">
                                                        {{ user['name'] }}
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-nowrap">{{ user['belong_name'] }}</td>
                                            <td class="text-truncate" style="max-width: 150px;">{{ user['mail_address'] }}</td>
                                            {% if session['management'] == 'Y' %}
                                                <td class="text-truncate p-1" style="max-width: 180px; min-width: 160px;">
                                                    <div class="row">
                                                        <div class="col-10 p-0">
                                                            <input type="password" class="form-control rounded-0 border-0 password" value="{{ user['password'] }}" style="background-color: rgb(0, 0, 0, 0); max-width: 150px; min-width: 120px;" readonly>
                                                        </div>
                                                        <div class="col-2 p-0 pt-1">
                                                            <button type="button" class="text-center btn-item btn-view-password list-btn-view-password">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye text-muted" viewBox="0 0 16 16">
                                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endif %}
                                            <td></td>
                                            {% if session['management'] == 'Y' %}
                                            <td class="text-center align-items-center">
                                                <form action="/user/edit/{{user['employee_id']}}" method="POST">
                                                    <button type="submit" class="text-center btn-item edit-btn-color">
                                                        <svg width="16" height="16" class="mb-1"><use xlink:href="#edit"></use></svg>
                                                    </button>
                                                </form>
                                            </td>
                                            <td class="text-center align-items-center">
                                                <form action="/user/delete/{{user['employee_id']}}" method="POST">
                                                    <button type="submit" class="text-center btn-item delete-btn-color delete">
                                                        <svg width="16" height="16" class="mb-1"><use xlink:href="#delete"></use></svg>
                                                    </button>
                                                </form>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <!-- 画面幅が560px以下の場合、ユーザー情報をモーダルで確認できる -->
        {% if session['users'] %}
            {% for user in session['users'] %}
                {% include "list_modal.html" %}
            {% endfor %}
        {% endif %}
    </main>
    <!-- フッター -->
    {% include "footer.html" %}
    <script src="{{url_for('static', filename = 'js/password_mask.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/confirm.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>