<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700&display=swap" rel="stylesheet">
    <title>ユーザー管理システム</title>
</head>
<body>
    <!-- 使いまわしアイコンを定義しておく -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill text-muted" viewBox="0 0 16 16">
            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
    </svg>
    <!-- 認証エラー -->
    <div class="error-wrapper mt-3">
        {% if session['errors'] %}
            <div class="container p-0 mt-0 alert-wrapper">
                <div class="alert alert-danger d-flex align-items-center alert-warning alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="警告：">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    {% for message in session['errors'] %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- フォーム -->
    <div class="pt-0">
        <div class="rounded-3 shadow mb-4 container-wrapper">
            <div class="container p-3">
                <!-- タブ型ナビゲーション -->
                <div class="nav nav-tabs" id="tab-menus">
                    <!-- タブ01 -->
                    <a href="#panel-menu01" id="tab-menu01" class="nav-item nav-link active" data-bs-toggle="tab">ユーザー管理システム</a>
                </div>
                <!-- /タブ型ナビゲーション -->
                <!-- タブパネル -->
                <div class="tab-content" id="panel-menus">
                    <!-- パネル01 -->
                    <div class="tab-pane fade show active border border-top-0" id="panel-menu01">
                        <div class="py-3">
                            <div class="container">
                                <!-- フォーム -->
                                <form action="{{url_for('login.login')}}" method="POST">
                                    <!-- メールアドレス -->
                                    <div class="row px-5 py-1">
                                        <div class="label-wrapper">
                                            <label for="email" class="col-form-label">
                                                メールアドレスを入力してください。
                                            </label>
                                        </div>
                                        <input type="email" name="mail_address" class="form-control rounded-0 border-top-0 border-end-0 border-start-0" id="email" required>
                                    </div>
                                    <!-- パスワード -->
                                    <div class="row px-5 py-1 mb-2">
                                        <div class="label-wrapper">
                                            <label for="password" class="col-form-label">
                                                パスワードを入力してください。
                                            </label>
                                        </div>
                                        <div class="password-position">
                                            <input type="password" name="password" class="form-control rounded-0 border-top-0 border-end-0 border-start-0 password" required>
                                            <button type="button" class="text-center btn-item btn-view-password btn-view-password-position">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye text-muted" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- チェックボックス -->
                                    <div class="checkbox-wrapper mb-2">
                                        <div class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" name="check_cookie" value="ok">
                                            <div class="checkbox-label-wrapper">
                                                <label for="checkbox" class="form-check-label">ログイン情報をブラウザに保存</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 確認ボタン -->
                                    <div class="row py-3">
                                        <div class="btn-wrapper">
                                            <button class="btn text-white" type="submit">ログイン</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- /フォーム -->
                            </div>
                    </div>
                </div>
                <!-- /タブパネル -->
            </div>
        </div>
    </div>
    <!-- フッター -->
    <div class="login-footer">
        <div class="container text-center">
            <p>
                <small>&copy;2022, ALL Rights Reserved.</small>
            </p>
        </div>
    </div>
    <script src="{{url_for('static', filename = 'js/password_mask.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>