<!-- ナビゲーションバー -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top navbar-opacity">
    <!-- サブコンポーネント -->
    <div class="container">
        <!-- ブランド -->
        <a href="{{url_for('list.list')}}" class="navbar-brand">ユーザー管理システム</a>
        <!-- 切り替えボタン -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ナビゲーション -->
        <div class="collapse navbar-collapse" id="navbar-content">
            <!-- ナビゲーションメニュー -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ms-3 me-md-3 mb-2 mb-md-0">
                    <div class="form-wrapper">
                        <form action="{{url_for('list.list')}}" method="POST">
                            <div class="input-group">
                                <input type="text" name="sort" class="form-control nav-input-radius" placeholder="検索">
                                <button type="submit" class="input-group-text nav-btn-radius">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item ps-2 px-md-2">
                    <a href="/user/edit/{{session['employee_id']}}" class="nav-link text-white text-nowrap text-truncate px-3 px-sm-0 px-md-1 nav-opacity">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill mb-1" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        {{ session['name'] }}
                    </a>
                </li>
                <li class="nav-item ps-2 px-md-2">
                    <a href="{{url_for('logout')}}" class="nav-link text-white px-3 px-sm-0 px-md-1 nav-opacity">ログアウト</a>
                </li>
            </ul>
            <!-- ナビゲーションメニュー -->
        </div>
    </div>
    <!-- /サブコンポーネント -->
</nav>
<!-- /ナビゲーションバー -->